.searchButton {
  background: red;
  color: white;
  border: 1px solid grey;
  border-left: none;
  border-radius: 0 20px 20px 0;
  text-transform: uppercase;
  padding: 10px 20px;
  box-shadow: 0 3px 3px #00000030;
  font-family: 'Montserrat', sans-serif;
}

.searchInput {
  width: 300px;
  border-radius: 20px 0 0 20px;
  border: 1px solid grey;
  border-right: none;
  padding: 10px;
  text-indent: 10px;
  color: grey;
  box-shadow: 0 3px 3px #00000040;
  font-family: 'Montserrat', sans-serif;
}

.searchContainer {
  text-align: center;
  margin: 40px 0;
}

@media only screen and (max-width: 480px) {
  .searchInput {
    width: 50%;
  }
}
